<nav class="navbar">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Condensed:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

    <div class="navbar-container">
      <!-- Logo -->
      <div class="logo">
        <a routerLink="/">
          <img src="../../../assets/logo.png" alt="Company Logo">
        </a>
      </div>


      
  
      <div class="nav-items">
        <ul class="nav-links">
          <li *ngFor="let item of navItems">
            <a [routerLink]="item.path" routerLinkActive="active" class="nav-link">
              {{ item.label }}
              <span *ngIf="item.hasDropdown" class="dropdown-indicator">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6">
                  <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" fill="none"/>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div class="navbar-cta">
        <ul class="navbar-menu-list">
          <!-- Cart Button -->
          <li class="navbar-menu-list-item">
            <button id="cart-nav" class="navbar-menu-list-item-link" aria-label="Cart">
              <svg class="icon-cart" width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.19891 5.8049C1.2448 5.02484 1.89076 4.41576 2.67216 4.41576H12.0298C12.8112 4.41576 13.4572 5.02485 13.5031 5.8049L14.0884 15.7547C14.1382 16.6023 13.4643 17.3171 12.6151 17.3171H2.08688C1.23775 17.3171 0.563767 16.6023 0.61363 15.7547L1.19891 5.8049Z" 
                      stroke="white" stroke-width="0.983866" />
                <path d="M11.4354 6.3737C11.4354 3.21604 9.60694 0.65625 7.35147 0.65625C5.096 0.65625 3.26758 3.21604 3.26758 6.3737" 
                      stroke="white" stroke-width="0.983866" stroke-linecap="round" />
              </svg>
            </button>
          </li>
      
          <!-- Vertical Divider (Desktop only) -->
          <div class="border-vertical d-none d-md-block"></div>
      
          <!-- Login Link (Desktop only) -->
          <li class="navbar-menu-list-item d-none d-md-block">
            <a href="/login" class="navbar-menu-list-item-link" aria-label="Login">
              <svg class="icon-account" width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.024 17.0559V15.3068C15.024 14.379 14.6555 13.4892 13.9994 12.8332C13.3434 12.1772 12.4536 11.8086 11.5258 11.8086H4.52944C3.60166 11.8086 2.71188 12.1772 2.05585 12.8332C1.39981 13.4892 1.03125 14.379 1.03125 15.3068V17.0559" 
                      stroke="white" stroke-width="0.983866" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.02798 8.30986C9.95997 8.30986 11.5262 6.74367 11.5262 4.81167C11.5262 2.87967 9.95997 1.31348 8.02798 1.31348C6.09598 1.31348 4.52979 2.87967 4.52979 4.81167C4.52979 6.74367 6.09598 8.30986 8.02798 8.30986Z" 
                      stroke="white" stroke-width="0.983866" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
  
      
  
      <!-- Mobile Menu Toggle -->
      <button class="mobile-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  
    <!-- Mobile Menu -->
    <div class="mobile-menu" [class.open]="isMenuOpen">
      <ul class="mobile-nav-links">
        <li *ngFor="let item of navItems">
          <a [routerLink]="item.path" routerLinkActive="active" class="mobile-nav-link">
            {{ item.label }}
            <span *ngIf="item.hasDropdown" class="dropdown-indicator">+</span>
          </a>
        </li>
      </ul>
      <a routerLink="/invest" class="mobile-cta-button">Vallair Invest</a>
    </div>
  </nav>