.intro__container {
    display: flex
;
    flex-direction: column;
    min-height: 100%;
    padding: calc(18 / var(--vw-screen) * 100 * 1vw) 0;
}

.container {
    padding: 0 var(--container-gap);
    margin: 0 auto;
}
.intro__content {
    margin: auto;
    display: flex
;
    flex-direction: row;
    align-items: center;
}

.intro__title span {
    position: relative;
    display: inline-block;
}

.intro__illustration>div svg {
    height: 50%;
    width: auto;
}

element.style {
    width: 100%;
    height: 100%;
    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
}

.intro__header {
    margin: 0 auto;
    max-width: calc(580 / var(--vw-screen) * 100 * 1vw);
    text-align: center;
}