<div class="shop-container">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap" rel="stylesheet">
    <video autoplay muted loop class="shop-video-background">
        <source src="../../../assets/bgshop.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="shop-content-overlay">
        <div class="shop-header">
            <h1 class="shop-title">HoverShelf Shop</h1>
        </div>
        <div class="shop-content-sub-heading">
            <h2 class="shop-subtitle">Our Shop</h2>
            <h2 class="shop-description">IS COMING SOON</h2>
        </div>
        <div class="shop-content">
            <h2 class="bigStyle1">STAY</h2>
            <h2  class="bigStyle2">TUNED 
                <img src="../../../assets/smile.svg">
            </h2>
                <p class="main-sub">FOR OUR SHOP PAGE!<p>
        </div>
    </div>
</div>
